:root {
    --font-family: "Fira Sans Condensed", sans-serif;
    --second-family: "Oswald", sans-serif;
    --accent-color: #545050;
    --main-color: #fff;
    --background-color: #1b1919;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 18px;
}

html {
    block-size: 100%;
}

.page {
    inline-size: 1200px;
    block-size: 100%;
    padding-right: 30px;
    padding-left: 30px;
    padding-top: 133px;
    padding-bottom: 133px;
    margin: auto;
    color: #fff;
    font-family: "Fira Sans Condensed", sans-serif;
    font-size: 18px;
    background-color: var(--background-color);
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
    margin: 0;
    padding: 0;
}

ul,
ol {
    list-style: none;
}

a {
    color: var(--main-color);
    text-decoration: none;
}

button,
.button {
    cursor: pointer;
    width: auto;
    height: auto;
    padding-top: 6px;
    padding-bottom: 6px;
    background-color: transparent;
    border: 1px var(--main-color) solid;
    color: var(--main-color);
}

button:active,
.button:active {
    background-color: var(--accent-color);
}

button:hover,
.button:hover {
    text-decoration: underline;
}

button:focus,
.button:focus {
    outline: none;
}

button:focus-visible,
.button:focus-visible {
    outline: 1px solid var(--main-color);
    outline-offset: 1px;
}

fieldset {
    border: none;
}

input {
    padding: 0;
}

.visually-hidden {
    position: absolute;
    inline-size: 1px;
    block-size: 1px;
    overflow: hidden;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    white-space: nowrap;
}

.solid-white-underline::before {
    content: "";
    position: absolute;
    display: block;
    top: 24px;
    left: 0px;
    width: 100%;
    height: 1px;
    background-color: var(--main-color);
}

.mb-1 {
    margin-bottom: 13px;
}

.md-2 {
    margin-bottom: 24px;
}

.mt-2 {
    margin-top: 78px;
}