.content {
    display: flex;
    gap: 30px;
}

.result {
    max-width: 711px;
    display: flex;
    flex-direction: column;
}

/* я намеренно убрал controls у плеера т.к мне показалось это актуальным для такого сайта */

.result__video-container {
    position: relative;
}

.result__video {
    width: 711px;
    max-height: 386px;
    object-fit: cover;
}

.result__video::-webkit-media-controls {
    display: none;
}

.search-form {
    display: grid;
    width: 100%;
    grid-template-columns: 225px 212px 194px;
    grid-column-gap: 40px;
}

.search-form__fieldset {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.search-form__fieldset-title {
    position: relative;
    color: var(--main-color);
}

.search-form__label {
    position: relative;
}

.search-form__label:has(:focus-visible) {
    outline: 1px solid;
}

.search-form__label-checkbox:hover .search-form__label-text {
    text-decoration: underline;
}

.search-form__textfield {
    position: relative;
    width: 100%;
    background: transparent;
    border: none;
    appearance: none;
    color: inherit;
}

.search-form__textfield:focus {
    outline: none;
    background-color: transparent;
}

.search-form__textfield:active {
    outline: 1px solid var(--main-color);
    outline-offset: 0.1em;
}

.search-form__checkbox-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 16px;
    justify-items: end;
    align-items: center;
}

.search-form__label-checkbox {
    position: relative;
    display: flex;
    cursor: pointer;
}

.search-form__pseudo-checkbox {
    cursor: pointer;
    display: block;
    height: 19px;
    width: 19px;
    margin-right: 5px;
    margin-top: 1px;
    border: 1px solid var(--main-color);
    align-self: center;
}

.search-form__checkbox:checked + .search-form__pseudo-checkbox {
    cursor: pointer;
    position: relative;
    height: 19px;
    width: 19px;
    background-color: var(--main-color);
    outline: var(--accent-color) 1px solid;
    outline-offset: -2px;
}

.search-form__submit-button {
    margin-top: 17px;
}

.content__details {
    width: 100%;
}

.title {
    font-family: var(--second-family);
    font-weight: 700;
    font-size: 75px;
    line-height: 94%;
    text-transform: uppercase;
    color: var(--main-color);
}

.content__accent {
    font-family: inherit;
    font-weight: inherit;
    font-size: inherit;
    color: var(--accent-color);
}

.content__list {
    position: relative;
    max-height: 299px;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
}

.content__list-item {
    margin-bottom: 30px;
}

.content__card-link {
    display: block;
}

.content__card-link_current {
    background-color: var(--accent-color);
}

.content__card-link:active {
    background-color: var(--accent-color);
}

.content__card-link:hover {
    text-decoration: underline;
    text-decoration-thickness: 1px;
    text-underline-offset: 3px;
}

.content__video-card {
    width: 100%;
    height: 107px;
    display: flex;
    justify-content: space-between;
}

.content__video-card-description-container {
    display: flex;
    flex-direction: column;
    padding: 3px;
    width: 200px;
}

.content__video-card-title {
    font-family: var(--second-family);
    font-weight: 700;
    font-size: 30px;
    line-height: 120%;
    text-transform: uppercase;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.content__video-card-description {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 18px;
    line-height: 90%;
    color: var(--main-color);
}

.content__video-card-thumbnail {
    height: 100%;
    width: 194px;
    /* если я строго не отграничиваю 
    ширину то элемент стремится забрать
    все пространство, несомтря на фикиро-
    ваную ширину description container */
}

.more-button {
    width: 100%;
}
