.page {
    padding-right: 30px;
    padding-left: 30px;
    padding-top: 133px;
    padding-bottom: 133px;
}

.content {
    display: flex;
    gap: 30px;
}

.result {
    width: 711px;
    display: flex;
    flex-direction: column;
}

.result__video {
    width: 711px;
    height: 386px;
    object-fit: cover;
}

.result__video::-webkit-media-controls {
    display: none;
}

/* я намеренно убрал controls у плеера т.к мне показалось это актуальным для такого сайта */

.result__video-container {
    position: relative;
}

.search-form {
    display: grid;
    width: 100%;
    height: 54px;
    grid-template-columns: 31% 212px auto;
    grid-column-gap: 42px;
}

.search-form__fieldset {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.search-form__fieldset-title {
    position: relative;
    color: var(--main-color);
    margin-left: 3px;
}

.search-form__textfield {
    position: relative;
    width: 100%;
    background: transparent;
    border: none;
    appearance: none;
    color: inherit;
}

.search-form__textfield:focus {
    outline: none;
    background-color: transparent;
}

.search-form__textfield:active {
    outline: 1px solid var(--main-color);
    outline-offset: 0.1em;
}

.search-form__label-checkbox:hover .search-form__label-text {
    text-decoration: underline;
}

.search-form__label {
    position: relative;
}

.search-form__label:has(:focus-visible) {
    outline: 1px solid;
}

.search-form__checkbox-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 13px;
    justify-items: end;
    align-items: center;
}

.search-form__checkbox_wrapper:has(:focus-visible) {
    outline: 1px solid var(--main-color);
}

.search-form__pseudo-checkbox {
    cursor: pointer;
    display: block;
    height: 19px;
    width: 19px;
    margin-right: 5px;
    border: 1px solid var(--main-color);
    align-self: center;
}

.search-form__label-checkbox {
    position: relative;
    display: flex;
    cursor: pointer;
}

.search-form__checkbox:checked + .search-form__pseudo-checkbox {
    position: absolute;
    top: 1px;
    left: -24px;
    height: 19px;
    width: 19px;
    background-color: var(--main-color);
}

.search-form__checkbox:checked + .search-form__pseudo-checkbox::before {
    content: "";
    position: absolute;
    top: 0px;
    left: 0px;
    height: 17px;
    width: 17px;
    border: var(--background-color) 1px solid;
}

.search-form__submit-button {
    padding-top: 6px;
    padding-bottom: 6px;
    align-self: end;
}

.button:focus-visible {
    outline: 1px solid var(--main-color);
    outline-offset: 1px;
}

.content__details {
    max-height: 534px;
    width: 100%;
}

.title {
    font-family: var(--second-family);
    font-weight: 700;
    font-size: 75px;
    line-height: 94%;
    text-transform: uppercase;
    color: var(--main-color);
}

.content__accent {
    font-family: inherit;
    font-weight: inherit;
    font-size: inherit;
    line-height: inherit;
    text-transform: inherit;
}

.content__accent {
    color: var(--accent-color);
}

.content__list {
    position: relative;
    max-height: 299px;
    display: flex;
    flex-direction: column;
    gap: 29px;
    overflow-y: scroll;
}

.content__list::-webkit-scrollbar {
    width: 0 !important;
}
.content__list {
    -ms-overflow-style: none;
}

.content__video-card {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.content__video-card {
    display: flex;
    height: 107px;
}

.content__card-link_current {
    background-color: var(--accent-color);
}

.content__card-link {
    display: block;
}

.content__card-link:active .content__video-card {
    background-color: var(--accent-color);
}

.content__video-card-description-container {
    display: flex;
    flex-direction: column;
    padding: 6px;
    padding-left: 2px;
    width: 100%;
}

.content__card-link:hover .content__video-card {
    text-decoration: underline;
    text-decoration-thickness: 1px;
    text-underline-offset: 3px;
}

.content__video-card-title {
    font-family: var(--second-family);
    font-weight: 700;
    font-size: 30px;
    line-height: 100%;
    text-transform: uppercase;
    margin-bottom: 6px;
}

.content__video-card-description {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 18px;
    line-height: 90%;
    color: var(--main-color);
}

.content__video-card-thumbnail {
    height: 100%;
    width: auto;
}

.more-button {
    width: 100%;
    padding-top: 6px;
    padding-bottom: 6px;
}
